mouse_lemur.docx
data/histogenes/lhp/7th_Cov1_GP99_all.xlsx - Sheet3.csv
data/histogenes/lhp/7thCEsamples_all_Baltic.csv
data/histogenes/lhp/7thCEsamples_all_Baltic.xlsx
data/histogenes/lhp/admix.csv
data/histogenes/lhp/mcs_ext.csv
data/histogenes/lhp/mcs_list.csv
data/histogenes/lhp/one_connect.csv
data/histogenes/lhp/pediii.csv
data/histogenes/lhp/small_connect.csv
data/histogenes/lhp/three_connect.csv
data/histogenes/lhp/two_connect.csv
data/histogenes/slovenia/ADT001.A0101.TF1_rmdup.sorted.q30.bam
data/histogenes/slovenia/ADT001.A0101.TF1_rmdup.sorted.q30.bam.bai
data/histogenes/slovenia/ajd_chr_X.tar.gz
data/histogenes/slovenia/ajd_chrX.PL.BEAGLE.PL
histogenes/slovenia/fastngsadmix/ajd_chrX
histogenes/slovenia/fastngsadmix/civ
histogenes/slovenia/fastngsadmix/list
histogenes/slovenia/fastngsadmix/X_ancient.bed
histogenes/slovenia/fastngsadmix/Y_ancient.bed
presentations/20feb_labmeeting.pptx
presentations/2026_22_july_ibd_analysis_manual.pptx
presentations/mcs_ex.csv
~$use_lemur.docx
